<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated service -->
      <factory
            uri="http://andycarpenter.work/pim/service"
            class="work.andycarpenter.webgen.pims.service.provider.ServiceItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated service -->
      <extender
            uri="http://andycarpenter.work/pim/base"
            class="work.andycarpenter.webgen.pims.service.provider.ServiceItemProviderAdapterFactory$BaseChildCreationExtender"/>
      <extender
            uri="http://andycarpenter.work/pim/expression"
            class="work.andycarpenter.webgen.pims.service.provider.ServiceItemProviderAdapterFactory$ExpressionChildCreationExtender"/>
      <extender
            uri="http://andycarpenter.work/pim/persistence"
            class="work.andycarpenter.webgen.pims.service.provider.ServiceItemProviderAdapterFactory$PersistenceChildCreationExtender"/>
   </extension>

</plugin>
