<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="persistence_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="persistence_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/PersistenceDiagramFile.gif"
         extensions="persistence_diagram"
         default="true"
         class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditor"
         matchingStrategy="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceMatchingStrategy"
         contributorClass="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/PersistenceDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceCreationWizard"
  	     id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.InitDiagram"
            nameFilter="*.website"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="PersistencePresentation">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="PersistencePresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="PersistencePresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="PersistenceRender">
         <Priority name="Lowest"/>
         <ViewId id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.general"
            name="%prefpage.uk.ac.man.cs.mdsd.webgen.presistence.diagram.general"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.appearance"
            name="%prefpage.uk.ac.man.cs.mdsd.webgen.presistence.diagram.appearance"
            category="uk.ac.man.cs.mdsd.webgen.presistence.diagram.general"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.connections"
            name="%prefpage.uk.ac.man.cs.mdsd.webgen.presistence.diagram.connections"
            category="uk.ac.man.cs.mdsd.webgen.presistence.diagram.general"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.printing"
            name="%prefpage.uk.ac.man.cs.mdsd.webgen.presistence.diagram.printing"
            category="uk.ac.man.cs.mdsd.webgen.presistence.diagram.general"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.rulersAndGrid"
            name="%prefpage.uk.ac.man.cs.mdsd.webgen.presistence.diagram.rulersAndGrid"
            category="uk.ac.man.cs.mdsd.webgen.presistence.diagram.general"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="uk.ac.man.cs.mdsd.webgen.presistence.diagram"
            labelProvider="uk.ac.man.cs.mdsd.webgen.persistence.diagram.sheet.PersistenceSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="uk.ac.man.cs.mdsd.webgen.presistence.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="uk.ac.man.cs.mdsd.webgen.presistence.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.sheet.PersistencePropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.PersistenceViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Persistence"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002,3004,3001,3002,3003,3005,3006,3007,3008,3009,3010,3011"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.PersistenceEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Persistence"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002,3004,3001,3002,3003,3005,3006,3007,3008,3009,3010,3011"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5004,5013,5008,5001,5002,5003,5005,5006,5007,5009,5010,5011,5012"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7001,7002,7003,7004"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfPersistenceEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.PersistenceEditPart" id="Persistence_1000"/>
         <context elements="Persistence_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfEntityEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.EntityEditPart" id="Entity_2001"/>
         <context elements="Entity_2001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfViewEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.ViewEditPart" id="View_2002"/>
         <context elements="View_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfModelLabelEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.ModelLabelEditPart" id="ModelLabel_3004"/>
         <context elements="ModelLabel_3004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfDataTypeAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.DataTypeAttributeEditPart" id="DataTypeAttribute_3001"/>
         <context elements="DataTypeAttribute_3001"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfDateAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.DateAttributeEditPart" id="DateAttribute_3002"/>
         <context elements="DateAttribute_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfFileAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.FileAttributeEditPart" id="FileAttribute_3003"/>
         <context elements="FileAttribute_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfImageAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.ImageAttributeEditPart" id="ImageAttribute_3005"/>
         <context elements="ImageAttribute_3005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfLocationAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.LocationAttributeEditPart" id="LocationAttribute_3006"/>
         <context elements="LocationAttribute_3006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfUrlAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.UrlAttributeEditPart" id="UrlAttribute_3007"/>
         <context elements="UrlAttribute_3007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfModelLabel2EditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.ModelLabel2EditPart" id="ModelLabel_3008"/>
         <context elements="ModelLabel_3008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfEncapsulatedAttributeEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.EncapsulatedAttributeEditPart" id="EncapsulatedAttribute_3009"/>
         <context elements="EncapsulatedAttribute_3009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfEncapsulatedAssociationEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.EncapsulatedAssociationEditPart" id="EncapsulatedAssociation_3010"/>
         <context elements="EncapsulatedAssociation_3010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.assistants.PersistenceModelingAssistantProviderOfViewAssociationEditPart">
         <Priority name="Lowest"/>
         <object class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.ViewAssociationEditPart" id="ViewAssociation_3011"/>
         <context elements="ViewAssociation_3011"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.PersistenceIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.providers.PersistenceParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.Persistence_1000"
               name="%metatype.name.Persistence_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Persistence"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.PersistenceEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.Entity_2001"
               name="%metatype.name.Entity_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Entity"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.EntityEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.View_2002"
               name="%metatype.name.View_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="View"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.ViewEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ModelLabel_3004"
               name="%metatype.name.ModelLabel_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ModelLabel"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.ModelLabelEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.DataTypeAttribute_3001"
               name="%metatype.name.DataTypeAttribute_3001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DataTypeAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.DataTypeAttributeEditHelper">
            <param name="semanticHint" value="3001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.DateAttribute_3002"
               name="%metatype.name.DateAttribute_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DateAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.DateAttributeEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.FileAttribute_3003"
               name="%metatype.name.FileAttribute_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="FileAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.FileAttributeEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ImageAttribute_3005"
               name="%metatype.name.ImageAttribute_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ImageAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.ImageAttributeEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.LocationAttribute_3006"
               name="%metatype.name.LocationAttribute_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="LocationAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.LocationAttributeEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.UrlAttribute_3007"
               name="%metatype.name.UrlAttribute_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UrlAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.UrlAttributeEditHelper">
            <param name="semanticHint" value="3007"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <specializationType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ModelLabel_3008"
               name="%metatype.name.ModelLabel_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ModelLabel_3004"/>
            <param name="semanticHint" value="3008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.EncapsulatedAttribute_3009"
               name="%metatype.name.EncapsulatedAttribute_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EncapsulatedAttribute"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.EncapsulatedAttributeEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.EncapsulatedAssociation_3010"
               name="%metatype.name.EncapsulatedAssociation_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="EncapsulatedAssociation"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.EncapsulatedAssociationEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ViewAssociation_3011"
               name="%metatype.name.ViewAssociation_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="ViewAssociation"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.ViewAssociationEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.AssociationWithoutContainment_4001"
               name="%metatype.name.AssociationWithoutContainment_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssociationWithoutContainment"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.AssociationWithoutContainmentEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://cs.man.ac.uk/mdsd/webgen/persistence">
         <metamodelType
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.AssociationWithContainment_4002"
               name="%metatype.name.AssociationWithContainment_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="AssociationWithContainment"
               edithelper="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.helpers.AssociationWithContainmentEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="uk.ac.man.cs.mdsd.webgen.presistence.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="uk.ac.man.cs.mdsd.webgen.presistence.diagram.TypeContext">
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.Persistence_1000"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.Entity_2001"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.View_2002"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ModelLabel_3004"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.DataTypeAttribute_3001"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.DateAttribute_3002"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.FileAttribute_3003"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ImageAttribute_3005"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.LocationAttribute_3006"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.UrlAttribute_3007"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ModelLabel_3008"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.EncapsulatedAttribute_3009"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.EncapsulatedAssociation_3010"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.ViewAssociation_3011"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.AssociationWithoutContainment_4001"/>
         <elementType ref="uk.ac.man.cs.mdsd.webgen.presistence.diagram.AssociationWithContainment_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="uk.ac.man.cs.mdsd.webgen.presistence.diagram"
           properties="isURIEditorInput"
           class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="uk.ac.man.cs.mdsd.webgen.presistence.diagram.resourceContent"/>
			<contentExtension pattern="uk.ac.man.cs.mdsd.webgen.presistence.diagram.domainResourceContent"/>
            <contentExtension pattern="uk.ac.man.cs.mdsd.webgen.presistence.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="uk.ac.man.cs.mdsd.webgen.presistence.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceNavigatorContentProvider" 
            labelProvider="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceNavigatorLabelProvider"
            icon="icons/obj16/PersistenceDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="persistence_diagram"/>
               </and>
               <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.navigatorSorter" 
               class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="persistence_diagram"/>
                  </and>
                  <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceDomainNavigatorContentProvider" 
            labelProvider="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceDomainNavigatorLabelProvider"
            icon="icons/obj16/PersistenceDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="website"/>
               </and>
               <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.navigatorActionProvider"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.navigatorLinkHelper"
            class="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="uk.ac.man.cs.mdsd.webgen.presistence.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.navigator.PersistenceAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramUpdateCommand"
         description="%update.diagram.description"
         id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="uk.ac.man.cs.mdsd.webgen.persistence.diagram.updateDiagram"
         contextId="uk.ac.man.cs.mdsd.webgen.persistence.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="uk.ac.man.cs.mdsd.webgen.presistence.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="uk.ac.man.cs.mdsd.webgen.persistence.diagram.edit.parts.PersistenceEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="uk.ac.man.cs.mdsd.webgen.presistence.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.PersistenceDiagramEditorID"
         defaultHandler="uk.ac.man.cs.mdsd.webgen.persistence.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
