<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>
   <extension
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            class="uk.ac.man.cs.mdsd.webgen.website.provider.WebsiteItemProviderAdapterFactory$ExpressionChildCreationExtender"
            uri="http://cs.man.ac.uk/mdsd/webgen/expression">
      </extender>
   </extension>

   <extension
         point="org.eclipse.emf.edit.childCreationExtenders">
      <extender
            class="uk.ac.man.cs.mdsd.webgen.website.provider.WebsiteItemProviderAdapterFactory$PersistenceChildCreationExtender"
            uri="http://cs.man.ac.uk/mdsd/webgen/persistence">
      </extender>
   </extension>


   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated website -->
      <factory
            uri="http://www.cs.man.ac.uk/mdsd/2010/Website"
            class="uk.ac.man.cs.mdsd.webgen.website.provider.WebsiteItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

</plugin>
