<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            class="work.andycarpenter.webgen.ui.wizards.NewWebgenProjectWizard"
            id="work.andycarpenter.webgen.ui.create_project"
            name="New Webgen Project"
            project="true">
      </wizard>
   </extension>

</plugin>
