<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated webui -->
      <package
            uri="http://cs.man.ac.uk/mdsd/webgen/webui"
            class="work.andycarpenter.webgen.pims.webui.WebuiPackage"
            genModel="model/webui.genmodel"/>
   </extension>

</plugin>
