<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated service -->
      <package
            uri="http://andycarpenter.work/pim/service"
            class="work.andycarpenter.webgen.pims.service.ServicePackage"
            genModel="model/service.genmodel"/>
   </extension>

</plugin>
