<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated webui -->
      <factory
            uri="http://cs.man.ac.uk/mdsd/webgen/webui"
            class="work.andycarpenter.webgen.pims.webui.provider.WebuiItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated webui -->
      <extender
            uri="http://cs.man.ac.uk/mdsd/webgen/expression"
            class="work.andycarpenter.webgen.pims.webui.provider.WebuiItemProviderAdapterFactory$ExpressionChildCreationExtender"/>
      <extender
            uri="http://cs.man.ac.uk/mdsd/webgen/persistence"
            class="work.andycarpenter.webgen.pims.webui.provider.WebuiItemProviderAdapterFactory$PersistenceChildCreationExtender"/>
      <extender
            uri="http://cs.man.ac.uk/mdsd/webgen/service"
            class="work.andycarpenter.webgen.pims.webui.provider.WebuiItemProviderAdapterFactory$ServiceChildCreationExtender"/>
   </extension>
</plugin>
