<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated persistence -->
      <package
            uri="http://andycarpenter.work/pim/persistence"
            class="work.andycarpenter.webgen.pims.persistence.PersistencePackage"
            genModel="model/persistence.genmodel"/>
   </extension>

</plugin>
