<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated api -->
      <package
            uri="http://cs.man.ac.uk/mdsd/webgen/api"
            class="work.andycarpenter.webgen.pims.api.ApiPackage"
            genModel="model/api.genmodel"/>
   </extension>

</plugin>
