<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated security -->
      <package
            uri="http://cs.man.ac.uk/mdsd/webgen/security"
            class="work.andycarpenter.webgen.pims.security.SecurityPackage"
            genModel="model/security.genmodel"/>
   </extension>

</plugin>
